<nav class="navbar">
    <ul class="nav-links">
        <li><button onclick="window.location.href='/formularioPersonal'" class="btn btn-primary">Personal</button></li>
        <li><button onclick="window.location.href='/formularioProfesional'" class="btn btn-primary">Profesional</button></li>
        <li><button onclick="window.location.href='/formularioBancario'" class="btn btn-primary">Bancario</button></li>
        <li><button onclick="window.location.href='/total'" class="btn btn-primary">Total</button></li>
    </ul>
</nav>